<a href="https://colab.research.google.com/github/anderrow/DataScience/blob/master/Data_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#Two different ways to generate dictionarys
dct = {
    'lista':[3, 5, 21, 5],
    'diccionario':{3:'string1',
                   2:'string2'}

}

In [14]:
dct

{'lista': [3, 5, 21, 5], 'diccionario': {3: 'string1', 2: 'string2'}}

In [15]:
dct2 = dict([('llave1', 'valor1'),('llave2', 'valor2')])

dct2

{'llave1': 'valor1', 'llave2': 'valor2'}


# Access to the keys and the values

In [16]:
dct.keys()

dict_keys(['lista', 'diccionario'])

In [17]:
dct.values()

dict_values([[3, 5, 21, 5], {3: 'string1', 2: 'string2'}])

In [18]:
dct['lista'] #Note that unlike a string or array, its elements are not called by their index. dct[0] will return the key bound to ‘0’, not the first value in the dictionary.

[3, 5, 21, 5]

In [19]:
dct.items()

dict_items([('lista', [3, 5, 21, 5]), ('diccionario', {3: 'string1', 2: 'string2'})])

In [20]:
dct['diccionario'][3]

'string1'

# Modification

In [21]:
dct

{'lista': [3, 5, 21, 5], 'diccionario': {3: 'string1', 2: 'string2'}}

In [22]:
 dct.update([('nuevo elemento', 98437),('nuevo elemento2', 786)])

In [23]:
dct

{'lista': [3, 5, 21, 5],
 'diccionario': {3: 'string1', 2: 'string2'},
 'nuevo elemento': 98437,
 'nuevo elemento2': 786}

In [24]:
dct['esta_key_no_existia'] = 'nueva_llave'

In [25]:
dct

{'lista': [3, 5, 21, 5],
 'diccionario': {3: 'string1', 2: 'string2'},
 'nuevo elemento': 98437,
 'nuevo elemento2': 786,
 'esta_key_no_existia': 'nueva_llave'}

In [26]:
del dct['lista']

In [27]:
dct

{'diccionario': {3: 'string1', 2: 'string2'},
 'nuevo elemento': 98437,
 'nuevo elemento2': 786,
 'esta_key_no_existia': 'nueva_llave'}

In [28]:
elemento_extraido = dct.pop('nuevo elemento') #Extract the value of the key and erase it from the dictionary

In [29]:
dct

{'diccionario': {3: 'string1', 2: 'string2'},
 'nuevo elemento2': 786,
 'esta_key_no_existia': 'nueva_llave'}

In [30]:
elemento_extraido

98437

# zip() and dict

In [31]:
it1 = [1, 2, 3, 4, 5, 6]
it2 = ['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis']

In [32]:
dict(zip(it1,it2))

{1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro', 5: 'cinco', 6: 'seis'}

In [33]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [35]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [36]:
df['latitude']

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [37]:
dict(zip(df['housing_median_age'], df['total_bedrooms']))

{27.0: 1082.0,
 43.0: 509.0,
 28.0: 857.0,
 19.0: 479.0,
 37.0: 510.0,
 15.0: 285.0,
 31.0: 230.0,
 45.0: 278.0,
 36.0: 247.0,
 16.0: 139.0,
 42.0: 263.0,
 26.0: 540.0,
 35.0: 181.0,
 40.0: 14.0,
 47.0: 408.0,
 13.0: 718.0,
 52.0: 102.0,
 32.0: 295.0,
 30.0: 631.0,
 14.0: 1298.0,
 34.0: 507.0,
 17.0: 308.0,
 5.0: 1614.0,
 38.0: 181.0,
 33.0: 268.0,
 11.0: 779.0,
 48.0: 460.0,
 4.0: 648.0,
 24.0: 553.0,
 6.0: 1184.0,
 21.0: 641.0,
 39.0: 666.0,
 10.0: 201.0,
 44.0: 581.0,
 18.0: 1490.0,
 12.0: 453.0,
 22.0: 810.0,
 29.0: 699.0,
 46.0: 203.0,
 50.0: 288.0,
 20.0: 1037.0,
 49.0: 456.0,
 25.0: 743.0,
 23.0: 642.0,
 41.0: 344.0,
 8.0: 479.0,
 3.0: 2244.0,
 7.0: 351.0,
 9.0: 471.0,
 2.0: 2727.0,
 51.0: 235.0,
 1.0: 2.0}

#Iterar sobre diccionarios

In [38]:
a, b = 2, 5

In [39]:
print (a)
print (b)

2
5

In [40]:
a, b =(2, 5)

In [42]:
dct.items()

dict_items([('diccionario', {3: 'string1', 2: 'string2'}), ('nuevo elemento2', 786), ('esta_key_no_existia', 'nueva_llave')])

In [45]:
dct1 = {
    'a':1
}

In [47]:
dct1.items()

dict_items([('a', 1)])

In [55]:
for key, value in dct1.items():
  print (f"la llave es {key} y el valor es {value}")

la llave es a y el valor es 1

In [57]:
for key, value in dct.items():
  print (f"la llave es {key} y el valor es {value}")

la llave es diccionario y el valor es {3: 'string1', 2: 'string2'}
la llave es nuevo elemento2 y el valor es 786
la llave es esta_key_no_existia y el valor es nueva_llave

# Dictionary Comprehension

## List Comprehension

In [63]:
lst = []

for i in range(10):
  lst.append(i)

In [64]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
lst2 = [ i for i in range(21) if i%2 == 0 and i>0] #x for x in iterable if condition

In [74]:
lst2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [76]:
stocks = {
    'AAPL':121,
    'AMZN':3380,
    'MSFT':219,
    'BIIB':280,
    'QDEL':266,
    'LVGO':144
}

In [78]:
stocks.items()

dict_items([('AAPL', 121), ('AMZN', 3380), ('MSFT', 219), ('BIIB', 280), ('QDEL', 266), ('LVGO', 144)])

In [80]:
stocks_over150 = { key: value for (key,value) in stocks.items() if value>150 }

In [81]:
stocks_over150

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}