<a href="https://colab.research.google.com/github/anderrow/DataScience/blob/master/TryingNewThinks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Get Data

In [5]:
import os
import pandas as pd
import numpy as np

path = "AmaboxData/UfaProd.csv"
df = pd.read_csv(path)

C:\Users\Ander\AppData\Local\Temp\ipykernel_35048\2448060648.py:6: DtypeWarning: Columns (55,63,67,68,75,87,95,98,99,102,106) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

# Data frame construction and cleaning

In [7]:
df.head(3) #Visualisation

,Id,SeqNr,RequestedAmount,ArticleDensity,MeasuredDensity,LowerProportioningTolerance,UpperProportioningTolerance,LowerRejectionTolerance,UpperRejectionTolerance,RequiredAccuracy,...,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106
0,9719,4,-1.0,0.763,0.762,0.0,1.0,0.0,5.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9719,4,-1.0,0.763,0.762,0.0,1.0,0.0,5.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9719,4,-1.0,0.763,0.762,0.0,1.0,0.0,5.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.set_index('Id', inplace=True) #Set Id as Index

,SeqNr,RequestedAmount,ArticleDensity,MeasuredDensity,LowerProportioningTolerance,UpperProportioningTolerance,LowerRejectionTolerance,UpperRejectionTolerance,RequiredAccuracy,ScheduledStartTime,...,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106
Id,,,,,,,,,,,,,,,,,,,,,
9719,4,-1.000,0.763,0.762,0.0,1.0,0.0,5.0,0,0001-01-01 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9719,4,-1.000,0.763,0.762,0.0,1.0,0.0,5.0,0,0001-01-01 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9719,4,-1.000,0.763,0.762,0.0,1.0,0.0,5.0,0,0001-01-01 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9719,4,-1.000,0.763,0.762,0.0,1.0,0.0,5.0,0,0001-01-01 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9719,4,-1.000,0.763,0.762,0.0,1.0,0.0,5.0,0,0001-01-01 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9634,3,13.353,0.586,0.000,0.0,0.0,0.0,0.0,0,31:00.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9634,3,13.353,0.586,0.000,0.0,0.0,0.0,0.0,0,31:00.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9634,3,13.353,0.586,0.000,0.0,0.0,0.0,0.0,0,31:00.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9634,3,13.353,0.586,0.000,0.0,0.0,0.0,0.0,0,31:00.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9634,3,13.353,0.586,0.000,0.0,0.0,0.0,0.0,0,31:00.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.duplicated().any() #Any duplicate values?
df.duplicated().unique()
df.columns #Check valuables columns

Index(['Id', 'SeqNr', 'RequestedAmount', 'ArticleDensity', 'MeasuredDensity',
       'LowerProportioningTolerance', 'UpperProportioningTolerance',
       'LowerRejectionTolerance', 'UpperRejectionTolerance',
       'RequiredAccuracy',
       ...
       'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100',
       'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104',
       'Unnamed: 105', 'Unnamed: 106'],
      dtype='object', length=107)

In [19]:
df = df.drop(columns=[col for col in df.columns if 'Unnamed' in col]) #Erase all 'Unnamed colums'
df.columns #Check again for valuables columns
df.sample(1)

,SeqNr,RequestedAmount,ArticleDensity,MeasuredDensity,LowerProportioningTolerance,UpperProportioningTolerance,LowerRejectionTolerance,UpperRejectionTolerance,RequiredAccuracy,ScheduledStartTime,...,Id.3,ArticleId.2,Name,Barcode,Density,DensityUnit,ProportioningTolerance,RejectionTolerance,TypeId,RowVersion.3
Id,,,,,,,,,,,,,,,,,,,,,
9713,2,-1.0,0.698,0.698,0.0,1.0,0.0,5.0,0,0001-01-01 00:00:00.000000,...,38.0,U2071440,P 71 400 Premix Anti-Coli,7.61077E+12,0.695,KGPERLITER,1.0,10.0,1.0,47:46.8

In [22]:
df_prop = df[['RequestedAmount', 'ArticleDensity','LowerProportioningTolerance','UpperProportioningTolerance', 'Repaired','ActualAmount','Name']]
df_prop.rename(columns={'Name': 'Ingredient'}, inplace=True)
df_prop.sample(1)

C:\Users\Ander\AppData\Local\Temp\ipykernel_35048\3372996107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prop.rename(columns={'Name': 'Ingredient'}, inplace=True)

,RequestedAmount,ArticleDensity,LowerProportioningTolerance,UpperProportioningTolerance,Repaired,ActualAmount,Ingredient
Id,,,,,,,
9660,12.5,0.982,0.46,0.46,0,12.504,Premix 21

In [25]:
df_prop.info() #Check if Dtype is correct

<class 'pandas.core.frame.DataFrame'>
Index: 22603 entries, 9719 to 9634
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   RequestedAmount              22603 non-null  float64
 1   ArticleDensity               22603 non-null  float64
 2   LowerProportioningTolerance  22603 non-null  float64
 3   UpperProportioningTolerance  22603 non-null  float64
 4   Repaired                     22603 non-null  int64
 5   ActualAmount                 22603 non-null  float64
 6   Ingredient                   22602 non-null  object
dtypes: float64(5), int64(1), object(1)
memory usage: 1.4+ MB

In [66]:
df_prop.isna().any() #Check for Nan Values

RequestedAmount                False
ArticleDensity                 False
LowerProportioningTolerance    False
UpperProportioningTolerance    False
Repaired                       False
ActualAmount                   False
Ingredient                     False
dtype: bool

In [26]:
df_prop.describe()

,RequestedAmount,ArticleDensity,LowerProportioningTolerance,UpperProportioningTolerance,Repaired,ActualAmount
count,22603.000000,22603.000000,22603.000000,22603.000000,22603.0,22603.000000
mean,5.560660,0.633519,1.197989,1.469457,0.0,13.744060
std,7.001579,0.101598,3.034336,2.958803,0.0,12.343637
min,-1.000000,0.418000,0.000000,0.000000,0.0,0.054000
25%,-1.000000,0.586000,0.000000,0.433000,0.0,4.313000
50%,3.916000,0.619000,0.433000,0.934000,0.0,11.275000
75%,9.095000,0.674000,0.780000,1.000000,0.0,18.804000
max,32.385000,0.982000,20.000000,20.000000,0.0,50.667000

In [33]:
df_prop[df_prop['UpperProportioningTolerance'] == 0]
df_prop = df_prop[df_prop['UpperProportioningTolerance'] != 0] #Keep only the lines that are not conversions

In [38]:
len(df_prop[df_prop['UpperProportioningTolerance'] > 15]) == len(df_prop[df_prop['UpperProportioningTolerance'] == 20]) #Must be a bug in which one of the tolerances goes to the top

True

In [41]:
df_prop = df_prop[df_prop['UpperProportioningTolerance'] != 20] #Keep only the lines whose tolerance is not 20
df_prop.describe() #Check that the values are now more reasonable

,RequestedAmount,ArticleDensity,LowerProportioningTolerance,UpperProportioningTolerance,Repaired,ActualAmount
count,18581.000000,18581.000000,18581.000000,18581.000000,18581.0,18581.000000
mean,4.668044,0.630906,1.343208,1.673437,0.0,14.622782
std,6.299959,0.106403,2.976553,2.862494,0.0,12.866319
min,-1.000000,0.418000,0.000000,0.407000,0.0,0.094000
25%,-1.000000,0.586000,0.000000,0.460000,0.0,5.281000
50%,2.736000,0.619000,0.446000,1.000000,0.0,12.335000
75%,7.467000,0.674000,0.959000,1.000000,0.0,18.804000
max,29.489000,0.982000,13.398000,13.398000,0.0,50.667000

In [51]:
#df_prop_intake = df_prop[df_prop['RequestedAmount'] == -1] #Intakes --> Unseful DF needs more info. Requested Amount is needed.Lower and Upper Proportioning for the Intakes also
df_prop_doser = df_prop[df_prop['RequestedAmount'] != -1] #Proportionings
#df_prop_intake.describe() #Unseful DF needs more info. Requested Amount is needed.Lower and Upper Proportioning for the Intakes also

In [52]:
df_prop_doser.describe()

,RequestedAmount,ArticleDensity,LowerProportioningTolerance,UpperProportioningTolerance,Repaired,ActualAmount
count,12445.000000,12445.000000,12445.000000,12445.000000,12445.0,12445.000000
mean,7.462670,0.646030,2.005475,2.005475,0.0,7.450636
std,5.967247,0.095447,3.449681,3.449681,0.0,5.957959
min,0.164000,0.531000,0.407000,0.407000,0.0,0.094000
25%,2.500000,0.586000,0.446000,0.446000,0.0,2.501000
50%,5.452000,0.586000,0.543000,0.543000,0.0,5.451000
75%,12.500000,0.674000,1.494000,1.494000,0.0,12.435000
max,29.489000,0.982000,13.398000,13.398000,0.0,29.292000

In [69]:
df_prop_doser['Gap'] = df_prop_doser['ActualAmount'] - df_prop_doser['RequestedAmount']

C:\Users\Ander\AppData\Local\Temp\ipykernel_35048\610153483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prop_doser['Gap'] = df_prop_doser['ActualAmount'] - df_prop_doser['RequestedAmount']

In [81]:
df_prop_doser.describe()

,RequestedAmount,ArticleDensity,LowerProportioningTolerance,UpperProportioningTolerance,Repaired,ActualAmount,Gap
count,12445.000000,12445.000000,12445.000000,12445.000000,12445.0,12445.000000,12445.000000
mean,7.462670,0.646030,2.005475,2.005475,0.0,7.450636,-0.012033
std,5.967247,0.095447,3.449681,3.449681,0.0,5.957959,0.039492
min,0.164000,0.531000,0.407000,0.407000,0.0,0.094000,-0.245000
25%,2.500000,0.586000,0.446000,0.446000,0.0,2.501000,-0.001000
50%,5.452000,0.586000,0.543000,0.543000,0.0,5.451000,-0.001000
75%,12.500000,0.674000,1.494000,1.494000,0.0,12.435000,0.000000
max,29.489000,0.982000,13.398000,13.398000,0.0,29.292000,0.085000

## Proportionings out of tolerance at the doser

In [80]:
df_prop_doser_outoftol= df_prop_doser[(df_prop_doser['RequestedAmount'] - df_prop_doser['LowerProportioningTolerance'] > df_prop_doser['ActualAmount']) &
              (df_prop_doser['RequestedAmount'] + df_prop_doser['UpperProportioningTolerance'] < df_prop_doser['ActualAmount'])]

In [77]:
df_prop_doser_outoftol.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   RequestedAmount              0 non-null      float64
 1   ArticleDensity               0 non-null      float64
 2   LowerProportioningTolerance  0 non-null      float64
 3   UpperProportioningTolerance  0 non-null      float64
 4   Repaired                     0 non-null      int64
 5   ActualAmount                 0 non-null      float64
 6   Ingredient                   0 non-null      object
 7   Gap                          0 non-null      float64
dtypes: float64(6), int64(1), object(1)
memory usage: 0.0+ bytes

# Absolute Values

In [79]:
df_prop_doser_outoftol.value_counts('Ingredient')

Series([], Name: count, dtype: int64)